@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300,300italic");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,600italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=Passion+One:400");
/* line 36, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('/css/../behaviors/box-sizing/boxsizing.php');
}

/* line 4, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 16, ../sass/partials/base/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/partials/base/_base.scss */
html {
  background-color: white;
}

/* line 24, ../sass/partials/base/_base.scss */
body {
  color: black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}

/* line 30, ../sass/partials/base/_base.scss */
a {
  text-decoration: none;
  color: #008aff;
}
/* line 35, ../sass/partials/base/_base.scss */
a:hover, a:focus {
  color: #0074d6;
}

/* line 39, ../sass/partials/base/_base.scss */
p {
  margin: 0;
}

/* line 43, ../sass/partials/base/_base.scss */
blockquote {
  margin: 30px 0;
  margin-left: -30px;
  padding-left: 20px;
  border-left: 10px solid #ff822f;
}
/* line 48, ../sass/partials/base/_base.scss */
blockquote p {
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.8em;
  color: #ff822f;
}

/* line 56, ../sass/partials/base/_base.scss */
input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 64, ../sass/partials/base/_base.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 71, ../sass/partials/base/_base.scss */
button,
input {
  line-height: normal;
  text-transform: none;
}

/* line 79, ../sass/partials/base/_base.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 84, ../sass/partials/base/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}

/* line 3, ../sass/partials/base/_helper-classes.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 10, ../sass/partials/base/_helper-classes.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 26, ../sass/partials/base/_helper-classes.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 38, ../sass/partials/base/_helper-classes.scss */
.invisible {
  visibility: hidden;
}

/* line 53, ../sass/partials/base/_helper-classes.scss */
.clearfix, .g-half, .g-third, .page-header .unicef-home, .top-menu {
  *zoom: 1;
}
/* line 59, ../sass/partials/base/_helper-classes.scss */
.clearfix:before, .g-half:before, .g-third:before, .page-header .unicef-home:before, .top-menu:before, .clearfix:after, .g-half:after, .g-third:after, .page-header .unicef-home:after, .top-menu:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 64, ../sass/partials/base/_helper-classes.scss */
.clearfix:after, .g-half:after, .g-third:after, .page-header .unicef-home:after, .top-menu:after {
  clear: both;
}

/* line 70, ../sass/partials/base/_helper-classes.scss */
.clearboth {
  clear: both;
}

@media (max-width: 960px) {
  /* line 75, ../sass/partials/base/_helper-classes.scss */
  .hidden-small {
    display: none;
  }
}

@media (min-width: 960px) {
  /* line 81, ../sass/partials/base/_helper-classes.scss */
  .visible-small {
    display: none;
  }
}

/* line 89, ../sass/partials/base/_helper-classes.scss */
.left {
  float: left;
}

/* line 93, ../sass/partials/base/_helper-classes.scss */
.right {
  float: right;
}

/* line 2, ../sass/partials/base/_typography.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Passion One", Verdana, sans-serif;
  font-weight: 400;
}

/* line 8, ../sass/partials/base/_typography.scss */
h1,
.h1 {
  font-size: 4.25em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

/* line 16, ../sass/partials/base/_typography.scss */
h2,
.h2 {
  font-size: 2.875em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

/* line 24, ../sass/partials/base/_typography.scss */
h3,
.h3 {
  font-size: 1.875em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

/* line 32, ../sass/partials/base/_typography.scss */
h4,
.h4 {
  font-size: 1.625em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

/* line 40, ../sass/partials/base/_typography.scss */
h5,
.h5 {
  font-size: 1.25em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

/* line 48, ../sass/partials/base/_typography.scss */
h6,
.h6 {
  font-size: 1em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0.2em;
}

/* line 1, ../sass/partials/layout/_layout.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/partials/layout/_layout.scss */
.l-container, .p-container {
  position: relative;
  width: 100%;
  max-width: 960px;
}
@media (min-width: 960px) {
  /* line 6, ../sass/partials/layout/_layout.scss */
  .l-container, .p-container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 18, ../sass/partials/layout/_layout.scss */
.p-container {
  padding: 15px 20px;
}
@media (min-width: 960px) {
  /* line 18, ../sass/partials/layout/_layout.scss */
  .p-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  /* line 28, ../sass/partials/layout/_layout.scss */
  body.open-menu .l-container, body.open-menu .p-container {
    margin-left: 50%;
  }
}
/* line 5, ../sass/partials/layout/_grids.scss */
.g-full {
  clear: both;
  width: 100%;
}

@media (min-width: 480px) and (max-width: 959px) {
  /* line 15, ../sass/partials/layout/_grids.scss */
  .g-half .g-item {
    width: 31.42857%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }
  /* line 18, ../sass/partials/layout/_grids.scss */
  .g-half .g-item:nth-of-type(3n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  /* line 15, ../sass/partials/layout/_grids.scss */
  .g-half .g-item {
    width: 48.57143%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }
  /* line 25, ../sass/partials/layout/_grids.scss */
  .g-half .g-item:nth-of-type(2n) {
    margin-right: 0;
    padding-left: 20px;
  }
}

@media (min-width: 480px) and (max-width: 959px) {
  /* line 37, ../sass/partials/layout/_grids.scss */
  .g-third .g-item {
    width: 48.57143%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }
  /* line 40, ../sass/partials/layout/_grids.scss */
  .g-third .g-item:nth-of-type(2n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) {
  /* line 37, ../sass/partials/layout/_grids.scss */
  .g-third .g-item {
    width: 31.42857%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 2.85714%;
  }
  /* line 47, ../sass/partials/layout/_grids.scss */
  .g-third .g-item:nth-of-type(3n) {
    margin-right: 0;
  }
}

/* line 2, ../sass/partials/module/partials/_header.scss */
.page-header--top {
  background-color: white;
}

@media (min-width: 480px) {
  /* line 6, ../sass/partials/module/partials/_header.scss */
  .page-header {
    border-top: 5px solid #008aff;
  }
}
/* line 10, ../sass/partials/module/partials/_header.scss */
.page-header .unicef-home {
  display: none;
}
@media (min-width: 480px) {
  /* line 10, ../sass/partials/module/partials/_header.scss */
  .page-header .unicef-home {
    display: block;
    position: absolute;
    right: 0;
    padding: 0;
    background-color: #008aff;
    -webkit-border-radius: 0 0 16px 16px;
    -moz-border-radius: 0 0 16px 16px;
    -ms-border-radius: 0 0 16px 16px;
    -o-border-radius: 0 0 16px 16px;
    border-radius: 0 0 16px 16px;
  }
  /* line 21, ../sass/partials/module/partials/_header.scss */
  .page-header .unicef-home span {
    display: block;
    float: left;
    padding: 0 12px;
    font-size: 0.875em;
    line-height: 28px;
    color: white;
  }
  /* line 30, ../sass/partials/module/partials/_header.scss */
  .page-header .unicef-home img {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    width: 90px;
  }
}
/* line 39, ../sass/partials/module/partials/_header.scss */
.page-header .main-logo {
  padding: 8px 0 6px;
  text-align: center;
}
@media (min-width: 480px) {
  /* line 39, ../sass/partials/module/partials/_header.scss */
  .page-header .main-logo {
    padding: 8px 0 6px 60px;
    text-align: left;
  }
}
@media (min-width: 960px) {
  /* line 39, ../sass/partials/module/partials/_header.scss */
  .page-header .main-logo {
    padding: 22px 0 15px;
  }
}
/* line 49, ../sass/partials/module/partials/_header.scss */
.page-header .main-logo a {
  color: #008aff;
  font-family: "Passion One", Verdana, sans-serif;
  font-weight: 400;
  font-size: 3em;
}
@media (min-width: 480px) {
  /* line 49, ../sass/partials/module/partials/_header.scss */
  .page-header .main-logo a {
    font-size: 3.5em;
  }
}

/* line 21, ../sass/partials/module/partials/_top-menu.scss */
.top-menu {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 26, ../sass/partials/module/partials/_top-menu.scss */
.top-menu ul {
  margin: 16px 15px;
  padding: 0;
}
@media (min-width: 480px) {
  /* line 26, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu ul {
    margin: 20px 15px;
  }
}
/* line 35, ../sass/partials/module/partials/_top-menu.scss */
.top-menu li {
  display: none;
}
/* line 37, ../sass/partials/module/partials/_top-menu.scss */
.top-menu li.more {
  display: block;
}
/* line 42, ../sass/partials/module/partials/_top-menu.scss */
.top-menu a {
  color: #008aff;
  font-size: 1.125em;
  font-weight: 600;
}
@media (min-width: 960px) {
  /* line 21, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu {
    position: relative;
  }
  /* line 50, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu ul {
    width: 100%;
    margin: 0;
  }
  /* line 55, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li {
    list-style: none;
    display: block;
    float: left;
    margin-left: 0px;
    padding: 0;
    text-transform: uppercase;
  }
  /* line 63, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li + li {
    margin-left: 16px;
  }
  /* line 67, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li.more {
    display: none;
  }
  /* line 2, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(1) a {
    background-color: #14c700;
    color: white;
    -webkit-border-radius: 32px 32px 0 0;
    -moz-border-radius: 32px 32px 0 0;
    -ms-border-radius: 32px 32px 0 0;
    -o-border-radius: 32px 32px 0 0;
    border-radius: 32px 32px 0 0;
  }
  /* line 11, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(1) ul li {
    border-top: 1px solid #11ae00;
    background-color: #14c700;
  }
  /* line 15, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(1) ul a {
    color: white !important;
  }
  /* line 2, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(2) a {
    background-color: #ff822f;
    color: white;
    -webkit-border-radius: 32px 32px 0 0;
    -moz-border-radius: 32px 32px 0 0;
    -ms-border-radius: 32px 32px 0 0;
    -o-border-radius: 32px 32px 0 0;
    border-radius: 32px 32px 0 0;
  }
  /* line 11, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(2) ul li {
    border-top: 1px solid #ff7316;
    background-color: #ff822f;
  }
  /* line 15, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(2) ul a {
    color: white !important;
  }
  /* line 2, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(3) a {
    background-color: #dc4feb;
    color: white;
    -webkit-border-radius: 32px 32px 0 0;
    -moz-border-radius: 32px 32px 0 0;
    -ms-border-radius: 32px 32px 0 0;
    -o-border-radius: 32px 32px 0 0;
    border-radius: 32px 32px 0 0;
  }
  /* line 11, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(3) ul li {
    border-top: 1px solid #d738e8;
    background-color: #dc4feb;
  }
  /* line 15, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(3) ul a {
    color: white !important;
  }
  /* line 2, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu li:nth-child(4) a {
    background-color: #008aff;
    color: white;
    -webkit-border-radius: 32px 32px 0 0;
    -moz-border-radius: 32px 32px 0 0;
    -ms-border-radius: 32px 32px 0 0;
    -o-border-radius: 32px 32px 0 0;
    border-radius: 32px 32px 0 0;
  }
  /* line 88, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu a {
    display: block;
    float: left;
    padding: 16px;
    height: 55px;
    line-height: 47px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  /* line 96, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu a i {
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  /* line 100, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu a span {
    display: inline-block;
    vertical-align: middle;
    margin-top: -14px;
    padding-left: 8px;
  }
  /* line 110, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu .active a,
  .top-menu a:hover,
  .top-menu a:focus {
    height: 65px;
    margin-top: -10px;
  }
  /* line 114, ../sass/partials/module/partials/_top-menu.scss */
  .top-menu .active a i,
  .top-menu a:hover i,
  .top-menu a:focus i {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* line 121, ../sass/partials/module/partials/_top-menu.scss */
.sub-menu {
  display: none;
}

/* line 13, ../sass/partials/module/partials/_main-menu.scss */
.open-menu .page-header--bottom {
  border-top: 8px solid #008aff;
}

/* line 17, ../sass/partials/module/partials/_main-menu.scss */
.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  overflow: scroll;
  display: none;
}
/* line 27, ../sass/partials/module/partials/_main-menu.scss */
.main-menu ul {
  margin: 0;
  padding: 0;
}
/* line 32, ../sass/partials/module/partials/_main-menu.scss */
.main-menu li {
  list-style: none;
}
@media (min-width: 480px) and (max-width: 960px) {
  /* line 17, ../sass/partials/module/partials/_main-menu.scss */
  .main-menu {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 480px) {
  /* line 17, ../sass/partials/module/partials/_main-menu.scss */
  .main-menu {
    position: relative;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: auto;
  }
  /* line 48, ../sass/partials/module/partials/_main-menu.scss */
  .main-menu ul {
    padding-bottom: 26px;
  }
  /* line 52, ../sass/partials/module/partials/_main-menu.scss */
  .main-menu li {
    margin-top: 30px;
  }
}
/* line 57, ../sass/partials/module/partials/_main-menu.scss */
.main-menu .sub-menu {
  display: block;
}

/* line 62, ../sass/partials/module/partials/_main-menu.scss */
body.open-menu .main-menu {
  display: block;
}

/* line 2, ../sass/partials/module/partials/_buttons.scss */
.btn, .category--main-link span, .category--sub-link {
  display: inline-block;
  padding: 16px 8px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #008aff;
  color: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 17, ../sass/partials/module/partials/_buttons.scss */
.btn:hover, .category--main-link span:hover, .category--sub-link:hover, .btn:focus, .category--main-link span:focus, .category--sub-link:focus {
  background-color: #0074d6;
  color: white;
}

/* line 2, ../sass/partials/module/partials/_content.scss */
.green-block {
  background-color: #ff822f;
  color: white;
}

/* line 6, ../sass/partials/module/partials/_content.scss */
.yellow-block {
  background-color: #ffca00;
}

/* line 10, ../sass/partials/module/partials/_content.scss */
.hero {
  padding: 20px;
}
@media (min-width: 960px) {
  /* line 10, ../sass/partials/module/partials/_content.scss */
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
/* line 16, ../sass/partials/module/partials/_content.scss */
.hero .teaser p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 30px;
}
@media (min-width: 960px) {
  /* line 16, ../sass/partials/module/partials/_content.scss */
  .hero .teaser p {
    width: 450px;
  }
}
/* line 24, ../sass/partials/module/partials/_content.scss */
.hero .action {
  margin-top: 20px;
}
/* line 26, ../sass/partials/module/partials/_content.scss */
.hero .action .more {
  margin-left: 40px;
  color: #008aff;
}
/* line 31, ../sass/partials/module/partials/_content.scss */
.hero img {
  display: none;
}
@media (min-width: 960px) {
  /* line 31, ../sass/partials/module/partials/_content.scss */
  .hero img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 960px) {
  /* line 41, ../sass/partials/module/partials/_content.scss */
  .hero.offset {
    padding-left: 295px;
  }
  /* line 43, ../sass/partials/module/partials/_content.scss */
  .hero.offset .teaser p {
    width: 540px;
  }
  /* line 46, ../sass/partials/module/partials/_content.scss */
  .hero.offset img {
    left: 0;
  }
}

/* line 54, ../sass/partials/module/partials/_content.scss */
.stories .story {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 57, ../sass/partials/module/partials/_content.scss */
.stories .story img {
  width: 100%;
}
/* line 60, ../sass/partials/module/partials/_content.scss */
.stories .story .info {
  padding-top: 10px;
}

/* line 66, ../sass/partials/module/partials/_content.scss */
.article {
  padding: 20px 0 30px;
}
/* line 68, ../sass/partials/module/partials/_content.scss */
.article p {
  line-height: 1.8em;
}
/* line 71, ../sass/partials/module/partials/_content.scss */
.article .teaser {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 74, ../sass/partials/module/partials/_content.scss */
.article .teaser p {
  font-size: 1.25em;
  font-weight: 300;
}

/* line 4, ../sass/partials/module/partials/_main-menu.scss */
.category__1 .category--main-link,
.category__1 .category--main-link span {
  background: #14c700;
}
/* line 8, ../sass/partials/module/partials/_main-menu.scss */
.category__1 .category--sub-link {
  background-color: #14c700;
}

/* line 4, ../sass/partials/module/partials/_main-menu.scss */
.category__2 .category--main-link,
.category__2 .category--main-link span {
  background: #ff822f;
}
/* line 8, ../sass/partials/module/partials/_main-menu.scss */
.category__2 .category--sub-link {
  background-color: #ff822f;
}

/* line 4, ../sass/partials/module/partials/_main-menu.scss */
.category__3 .category--main-link,
.category__3 .category--main-link span {
  background: #dc4feb;
}
/* line 8, ../sass/partials/module/partials/_main-menu.scss */
.category__3 .category--sub-link {
  background-color: #dc4feb;
}

/* line 4, ../sass/partials/module/partials/_main-menu.scss */
.category__4 .category--main-link,
.category__4 .category--main-link span {
  background: #ffca00;
}
/* line 8, ../sass/partials/module/partials/_main-menu.scss */
.category__4 .category--sub-link {
  background-color: #ffca00;
}

/* line 4, ../sass/partials/module/partials/_main-menu.scss */
.category__5 .category--main-link,
.category__5 .category--main-link span {
  background: #9252ff;
}
/* line 8, ../sass/partials/module/partials/_main-menu.scss */
.category__5 .category--sub-link {
  background-color: #9252ff;
}

/* line 4, ../sass/partials/module/partials/_main-menu.scss */
.category__6 .category--main-link,
.category__6 .category--main-link span {
  background: #00973f;
}
/* line 8, ../sass/partials/module/partials/_main-menu.scss */
.category__6 .category--sub-link {
  background-color: #00973f;
}

/* line 20, ../sass/partials/module/partials/_categories.scss */
.category {
  font-weight: 600;
}

/* line 24, ../sass/partials/module/partials/_categories.scss */
.category--main-link {
  position: relative;
  display: block;
}
/* line 28, ../sass/partials/module/partials/_categories.scss */
.category--main-link img {
  display: none;
}
/* line 32, ../sass/partials/module/partials/_categories.scss */
.category--main-link span {
  display: block;
  border-top: 1px solid white;
  color: white;
  margin: 0 8px;
}
@media (min-width: 480px) {
  /* line 24, ../sass/partials/module/partials/_categories.scss */
  .category--main-link {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    padding: 8px 0 0;
  }
  /* line 45, ../sass/partials/module/partials/_categories.scss */
  .category--main-link img {
    display: block;
    width: 100%;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -ms-border-radius: 0 0 8px 8px;
    -o-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
  }
  /* line 51, ../sass/partials/module/partials/_categories.scss */
  .category--main-link span {
    position: absolute;
    bottom: 3%;
    width: 96%;
    margin-left: 2%;
    border-top: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

/* line 63, ../sass/partials/module/partials/_categories.scss */
.category--sub-links li {
  margin-top: 4px;
}

/* line 67, ../sass/partials/module/partials/_categories.scss */
.category--sub-link {
  width: 100%;
}

/* line 73, ../sass/partials/module/partials/_categories.scss */
.category--main-link span,
.category--sub-link {
  z-index: 100;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 78, ../sass/partials/module/partials/_categories.scss */
.category--main-link span:hover, .category--main-link span:focus,
.category--sub-link:hover,
.category--sub-link:focus {
  margin-left: -8px;
}

/* line 2, ../sass/partials/module/partials/_footer.scss */
.footer {
  padding: 10px;
  text-align: center;
  font-size: 0.875em;
}
