<!-- <aside class="green-block">
  <div class="l-container">
    <div class="hero">
      <img src="/img/hero-kids.png">
      <h1>En for alle, alle for en!</h1>
      <div class="teaser">
        <p>Her finner du tekster, filmer og oppgaver om barns rettigher i Norge og resten
          av verden. Du finner også tips om hvordan du kan bety noe for andre og bruke
          retten du har til å si din mening.</p>
      </div>
    </div>
  </div>
</aside> -->

<aside class="campaign page-banner-120 view-mode-teaser">
  <div class="l-container campaign-constrained">
    <div class="campaign--message align-left width-nine padding-normal bgcolor-black-transparent textalign-left shadow-none">
      <h1 class="title white x-large">En for alle, alle for en!</h1>

      <div class="teaser white large">
        <p>Her finner du tekster, filmer og oppgaver om barns rettigheter i
        Norge og resten av verden. Du finner også tips om hvordan du kan bety
        noe for andre og bruke retten du har til å si din mening.</p>
      </div>
    </div>
  </div>
</aside>