
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/menumasonry.js"></script>

<script>

  /* MenuMasonry options */
  $('a.menu-tab--link, li.more-btn a').menuMasonry('.main-menu', 'open-menu', {
    breakpoints: [0, 480, 960],
    layouts: ['mobile', 'tablet', 'desktop'],
    skips: [100, 2, 3],
    margins: [0, 20, 30]
  });

  /* Fastclick */
  (function(){ FastClick.attach(document.body); })();

</script>
