// Change singularity default setting from isolated to float. Read more about it
// on https://github.com/Team-Sass/Singularity/wiki/Output-Styles#float

// Items per row 1
.g-full {
  clear: both;
  width: 100%;
}


// Items per row 1-2
.g-half {
  @extend .clearfix;

  .g-item {
    @include breakpoint($break-small ($break-medium - 1px)) {
      @include float-span(4);
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }

    @include breakpoint($break-medium) {
      @include float-span(6);
      &:nth-of-type(2n) {
        margin-right: 0;
        padding-left: 20px;
      }
    }
  }
}

// Items per row 1-2-3
.g-third {
  @extend .clearfix;

  .g-item {
    @include breakpoint($break-small ($break-medium - 1px)) {
      @include float-span(6);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @include breakpoint($break-medium) {
      @include float-span(4);
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}
