body {
  margin: 0;
  padding: 0;
}

.l-container, .p-container {
  //@include background-grid;
  position: relative;
  width: 100%;
  max-width: $break-medium;

  @include breakpoint($break-medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

.p-container {
  padding: 15px 20px;
  @include breakpoint($break-medium) {
    padding-left: 0;
    padding-right: 0;
  }
}

@include breakpoint(max-width $break-small) {
  body.open-menu {
    .l-container, .p-container {
      margin-left: 85%;
    }
  }
}
