
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder { // Firefox 18-
    @content;
  }
  &::-moz-placeholder {  // Firefox 19+
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin angleside($type, $width, $height, $color-bottom, $color-top) {
  display: block;
  width: 0;
  height: 0;
  @if $type > 0 {
    border-bottom: $height solid $color-bottom;
    border-left: $width solid $color-top;
  } @else {
    border-bottom: $height solid $color-bottom;
    border-right: $width solid $color-top;
  }
}

@mixin doublebgcolor($color1, $color2) {
  background: $color2;
  background: -moz-linear-gradient(left, $color1 50%, $color2 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%,$color1), color-stop(50%,$color2));
  background: -webkit-linear-gradient(left, $color1 50%,$color2 50%);
  background: -o-linear-gradient(left, $color1 50%,$color2 50%);
  background: -ms-linear-gradient(left, $color1 50%,$color2 50%);
  background: linear-gradient(to right, $color1 50%,$color2 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 );
}
