// IE Support
$legacy-support-for-ie:  true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// Breakpoints
$breakpoints-to-ems: true;

$breakpoint-mobile-portrait:  320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait:  720px;
$breakpoint-tablet-landscape: 960px;
$breakpoint-desktop:          1190px;
$breakpoint-desktop-wide:     1280px;

$break-small:  $breakpoint-mobile-landscape;
$break-medium: $breakpoint-tablet-landscape;
$break-large:  $breakpoint-desktop;

// Grid Settings
$grids: 12;
$gutters: .5;
$output: 'float';

// Include grid-toggle mixin
// @include grid-toggle;

// Typography
$base-font-size: 14px;


// Menu Settings
$top-menu-side-width: 20px;
$top-menu-side-heigth: 65px;
