// IE Support
$legacy-support-for-ie:  true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// Breakpoints
$breakpoints-to-ems: true;

$breakpoint-mobile-portrait:  320px;
$breakpoint-mobile-landscape: 480px;
$breakpoint-tablet-portrait:  720px;
$breakpoint-tablet-landscape: 960px;
$breakpoint-desktop:          1190px;
$breakpoint-desktop-wide:     1280px;

$break-small:  $breakpoint-mobile-landscape;
$break-medium: $breakpoint-tablet-landscape;
$break-large:  $breakpoint-desktop;

// Grid Settings

// // Mobile (Portrait)
// $grids: 4;

// // Mobile (Landscape)
// $grids: add-grid(6 at $breakpoint-mobile-landscape);

// // Tablet (Portrait)
// $grids: add-grid(9 at $breakpoint-tablet-portrait);

// // Tablet (Landscape)
// $grids: add-grid(12 at $breakpoint-tablet-landscape);

// // Desktop
// $grids: add-grid(16 at $breakpoint-desktop);

$grids: 12;
$gutters: 1/3;

// Include grid-toggle mixin
// @include grid-toggle;

// Typography
$base-font-size: 14px;
