
.btn {
  display: inline-block;
  padding: $space $space-half;
  border: none;

  // font-weight: 400;
  text-align: center;
  text-decoration: none;

  background-color: $btn-bg-color;
  color: $btn-color;

  @include border-radius($space);
  @include single-transition(background-color, 0.3s);
  
  &:hover, &:focus {
    background-color: $btn-bg-color-hover;
    color: $btn-color;
  }
}

