.category__1 {
  @include mainmenu-color($category-color-1);
}
.category__2 {
  @include mainmenu-color($category-color-2);
}
.category__3 {
  @include mainmenu-color($category-color-3);
}
.category__4 {
  @include mainmenu-color($category-color-4);
}
.category__5 {
  @include mainmenu-color($category-color-5);
}
.category__6 {
  @include mainmenu-color($category-color-6);
}

.category--img {
  position: relative;
  display: block;
  padding: $space-half 0 0;
  @include border-radius($space-half);

  img {
    display: block;
    width: 100%;
    @include border-radius(0 0 $space-half $space-half);

    .categories__menu & {
      display: none;
    }
  }

  @include breakpoint($break-small) {
    width: 100%;

    img {
      .categories__menu & {
        display: block;
      }
    }
  }
}

.category--img-btn {
  @extend .btn;
  display: block;
  border-top: 1px solid $color-menu-separator;
  color: $color-menu-item;
  margin: 0 $space-half;
  font-weight: 600;
  text-transform: uppercase;

  @include breakpoint(max-width $break-small) {
    text-align: left;
    margin-left: 0;
    @include border-radius(0 $space $space 0);
  }

  @include breakpoint($break-small) {
    position: absolute;
    bottom: 3%;
    width: 96%;
    margin-left: 2%;
    border-top: none;
    letter-spacing: 1px;
  }
}

.category--sub-links {
  @include breakpoint(max-width $break-small) {
    width: 90%;
  }
}

.category--sub-links li {
  margin-top: 1px;
  @include breakpoint($break-small) {
    margin-top: ($space-half * .5); 
  }
}

.category--sub-link {
  @extend .btn;
  width: 100%;
  font-weight: 600;

  @include breakpoint($break-small) {
    text-transform: uppercase;
  }

  @include breakpoint(max-width $break-small) {
    text-align: left;
    @include border-radius(0 $space $space 0);
  }
}

.category--main-link span,
.category--sub-link {

  @include breakpoint($break-small) {
    @include transition(all .2s ease-out);

    &:hover,
    &:focus {
      margin-left: -($space-half);  
    }
  }
}

// Change color on headings based on active category in body
.p-container {
  h1, h2, h3, h4, h5, h6, blockquote p {
    .active-category-1 & { color: $category-color-1 }
    .active-category-2 & { color: $category-color-2 }
    .active-category-3 & { color: $category-color-3 }
    .active-category-4 & { color: $category-color-4 }
    .active-category-5 & { color: $category-color-5 }
    .active-category-6 & { color: $category-color-6 }
  }

  blockquote {
    .active-category-1 & { border-color: $category-color-1 }
    .active-category-2 & { border-color: $category-color-2 }
    .active-category-3 & { border-color: $category-color-3 }
    .active-category-4 & { border-color: $category-color-4 }
    .active-category-5 & { border-color: $category-color-5 }
    .active-category-6 & { border-color: $category-color-6 } 
  }
}