
.green-block {
  background-color: $color-green;
}
.yellow-block {
  background-color: $color-yellow;
}

.hero {
  padding: 20px;
  @include breakpoint($break-medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .teaser p {
    @include breakpoint($break-medium) {
      width: 450px;
    }
    font-size: em(20,16);
    font-weight: 300;
    line-height: 30px;
  }
  .action {
    margin-top: 20px;
    .more {
      margin-left: 40px;
      color: $color-blue;
    }
  }
  img {
    display: none;
    @include breakpoint($break-medium) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  @include breakpoint($break-medium) {
    &.offset {
      padding-left: 295px;
      .teaser p {
        width: 540px;
      }
      img {
        left: 0;
      }
    }
  }
}

.stories {
  .story {
    margin-top: 15px;
    margin-bottom: 15px;
    img {
      width: 100%
    }
    .info {
      padding-top: 10px;
    }
  }
}

.article {
  padding: 20px 0 30px;
  p {
    line-height: 1.8em;
  }
  .teaser {
    margin-top: 20px;
    margin-bottom: 20px;
    p {
      font-size: em(20,16);
      font-weight: 300;
    }
  }
}
