
.green-block {
  background-color: $color-green;
}
.yellow-block {
  background-color: $color-yellow;
}

.hero {
  padding: 20px;
  @include breakpoint($break-medium) {
    padding: 60px 0;
  }
  .teaser p {
    @include breakpoint($break-medium) {
      width: 450px;
    }
    font-size: em(20,16);
    font-weight: 300;
    line-height: 30px;
  }
  .action {
    margin-top: 20px;
    .more {
      margin-left: 40px;
      color: $color-blue;
    }
  }
  img {
    display: none;
    @include breakpoint($break-medium) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  @include breakpoint($break-medium) {
    &.offset {
      padding-left: 295px;
      .teaser p {
        width: 540px;
      }
      img {
        left: 0;
      }
    }
  }
}

.stories {
  //@include background-grid;
  padding: 0 20px 35px;
  @include breakpoint($break-medium) {
    padding-left: 0;
    padding-right: 0;
  }
  .story {
    margin-top: 35px;
    img {
      width: 100%
    }
    .info {
      padding: 10px 0 0;
    }
  }
}

.content {
  padding: 15px 20px 30px;
  @include breakpoint($break-medium) {
    padding-left: 0;
    padding-right: 0;
  }
  p {
    line-height: 1.8em;
  }
  .teaser {
    margin: 20px 0;
    p {
      font-size: em(20,16);
      font-weight: 300;
    }
  }
  .quote {
    margin: 40px 0;
    margin-left: -30px;
    padding-left: 20px;
    border-left: 10px solid $color-orange;

    p {
      font-size: em(18,16);
      font-weight: 300;
      line-height: 1.8em;
      color: $color-orange;
    }
  }
}
