
.light-blue-block {
  background-color: $color-webpage-bg;
  @include breakpoint($break-small) {
    background-color: $color-headers-bg;
  }
}
.dark-blue-block {
  background-color: $color-menu-bg;
  @include breakpoint($break-medium) {
    @include doublebgcolor($color-menu-alt-bg, $color-menu-bg);
  }
}

header {
  @include breakpoint($break-small) {
    border-top: 5px solid $color-headers-alt-bg;
  }
  .unicef-home {
    @extend .clearfix;
    display: none;
    @include breakpoint($break-small) {
      display: block;
      position: absolute;
      right: 0;
      padding: 0;
      background-color: $color-headers-alt-bg;

      span {
        display: block;
        float: left;
        padding: 0 12px;
        font-size: em(14,16);
        line-height: 28px;
        color: $color-header-alt;
      }
      .before {
        @include angleside(-1, 15px, 30px, $color-headers-bg, transparent);
      }
      .after {
        @include angleside(1, 15px, 30px, $color-headers-bg, transparent);
      }
      img {
        display: block;
        float: left;
        margin: 0 10px 0 0;
      }
    }
  }

  .main-logo {
    padding: 8px 0 6px;
    text-align: center;
    @include breakpoint($break-small) {
      padding: 8px 0 6px 60px;
      text-align: left;
    }
    @include breakpoint($break-medium) {
      padding: 22px 0 15px;
    }
    a {
      color: $color-header-alt;
      @include breakpoint($break-small) {
        color: $color-header;
      }
      font-family: $font-family-headers;
      font-weight: 400;
      font-size: em(56,16);
    }
  }
}

