
@mixin mainmenu-color($color-bg, $color-text: $menu-color) {
  .category--main-link,
  .category--main-link span {
    background: $color-bg;
  }
  
  .category--sub-link {
    background-color: $color-bg;
  }
}

.open-menu .page-header--bottom {
  border-top: $space-half solid $color-menu-bg;
}

.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  overflow: scroll;
  display: none;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }
 
  @include breakpoint($break-small $break-medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include breakpoint($break-small) {
    position: relative;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: auto;
    
    ul {
      padding-bottom: 26px;
    }
    
    li {
      margin-top: 30px;
    }
  }

  .sub-menu {
    display: block;
  }
}

body.open-menu .main-menu {
  display: block;
}
