
@mixin mainmenu-color($color-bg, $color-text) {
  background-color: $color-bg;
  span {
    background: rgba($color-bg, 0.7);
    color: $color-text;
  }
  li {
    border-top: 1px solid darken($color-bg, 10);
    a {
      color: $color-text;
    }
  }
}

.dark-blue-block {
  background-color: $color-menu-bg;
}

.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  overflow: scroll;
  background-color: $color-menu-bg;
  display: none;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        position: relative;
        display: block;
        img {
          display: none;
        }
        span {
          display: block;
          padding: 20px 15px;
          border-top: 1px solid $color-menu-separator;
          color: $color-menu-item;
        }
      }
      &:first-child a span {
        border-top: none;
      }
    }
  }

  @include breakpoint($break-small $break-medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include breakpoint($break-small) {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: transparent;
    ul {
      padding-bottom: 26px;
      li {
        margin-top: 30px;
        a {
          width: 100%;
          padding: 7px 0;
          img {
            display: block;
            width: 100%;
          }
          span {
            position: absolute;
            bottom: 7px;
            width: 100%;
            border-top: none;
            padding: 15px 10px 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
        &:nth-child(1) {
          @include mainmenu-color($color-green, $color-black);
        }
        &:nth-child(2) {
          @include mainmenu-color($color-pink, $color-white);
        }
        &:nth-child(3) {
          @include mainmenu-color($color-yellow, $color-black);
        }
        &:nth-child(4) {
          @include mainmenu-color($color-orange, $color-white);
        }
        &:nth-child(5) {
          @include mainmenu-color($color-purple, $color-white);
        }
        &:nth-child(6) {
          @include mainmenu-color($color-red, $color-white);
        }
      }
    }
  }

  ul.sub-menu {
    display: none;
    @include breakpoint($break-medium) {
      display: block;
      margin: 0;
      padding-bottom: 0;
      li {
        margin-top: 0;
        background: none;
        a {
          width: 100%;
          height: auto;
          padding: 10px;
        }
        &:first-child {
          border-top: none;
          a {
            padding-top: 0;
          }
        }
      }
    }
  }
}

body.open-menu .main-menu {
  display: block;
}
