
.page-header--bottom {
  border-top: ($space * .25) solid $category-color-default;

  .active-category-1 & {
    border-color: $category-color-1;
  }

  .active-category-2 & {
    border-color: $category-color-2;
  }

  .active-category-3 & {
    border-color: $category-color-3;
  }    
  
  @include breakpoint($break-medium) {
    border-top: ($space * 3) solid $color-blue;

  }
}

.open-menu .page-header--bottom {
  border-top: $space-half solid;
  border-color: $color-menu-bg; 
}

body.open-menu {
  @include breakpoint(max-width $break-small) {
    overflow: hidden;
    // position: fixed;
  }
}

.main-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: -85%;
  width: 85%;
  height: 100%;
  overflow: scroll;
  display: none;
  background-color: white;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
  }

  @include breakpoint(max-width $break-small) {
    background-color: #efefef;
    z-index: 100;
  }
 
  @include breakpoint($break-small $break-medium) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include breakpoint($break-small) {
    position: relative;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: auto;
    
    ul {
      padding-bottom: 26px;
    }
    
    li {
      margin-top: 30px;
    }
  }

  .sub-menu {
    display: block;
  }
}

body.open-menu .main-menu {
  display: block;
}
