
.main-menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 65px;
  li {
    list-style: none;
    float: left;
    margin-left: -20px;
    padding: 0;
    text-transform: uppercase;
    a {
      display: block;
      float: left;
      padding: 16px 10px;
      height: 65px;

      span {
        display: inline-block;
        vertical-align: middle;
        margin-top: -12px;
        padding-left: 8px;
        font-size: em(18,16);
      }
    }
    .before, .after {
      float: left;
      width: 25px;
      height: 65px;
    }

    &.active, &:hover {
      a {
        background-color: $color-menu-active-bg;
        color: $color-header-dark;
      }
      .before, .after {
        width: 0;
        height: 0;
      }
      .before {
        @include angleside(1, 25px, 65px, $color-menu-active-bg, transparent);
      }
      .after {
        @include angleside(-1, 25px, 65px, $color-menu-active-bg, transparent);
      }
    }

  }
}

.expanded-menu {
  position: relative;
  overflow: hidden;
  height: 0;

  ul {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    li {
      margin-top: 36px;
      list-style: none;
      a {
        position: relative;
        display: block;
        float: left;
        width: 150px;
        height: 100px;
        img {
          width: 100%;
          height: 100%;
        }
        span {
          position: absolute;
          bottom: 0;
          width: 100%;
          color: $color-white;
          padding: 4px 8px;
          background: rgba(0,0,0,0.7);
        }
      }

      ul.sub-menu {
        float: left;
        width: 250px;
        margin-left: 26px;
        padding-bottom: 0;
        li {
          margin-top: 0;
          a {
            width: 100%;
            height: auto;
            padding: 9px 0;
            border-top: 1px solid $color-blue;
            color: $color-white;
          }
          &:first-child a {
            padding-top: 0;
            border-top: none;
          }
        }
      }
    }
  }
}
