@mixin menuitem-color($color-bg: $category-color-default, $color-text: $menu-color) {
  a {
    background-color: $color-bg;
    color: $color-text;
    @include border-radius($space-double $space-double 0 0);
  }
}

@mixin submenu-color($color-bg, $color-text: $menu-color) {
  ul {
    li {
      border-top: 1px solid darken($color-bg, 5);
      background-color: $color-bg;
    }
    a {
      color: $color-text !important;
    }
  }
}

.top-menu {
  @extend .clearfix;
  position: absolute;
  top: 0;
  left: 0;
  ul {
    margin: 16px 15px;
    padding: 0;
    
    @include breakpoint($break-small) {
      margin: 20px 15px;
    }
  }

  li {
    display: none;
    &.more {
      display: block;
    }
  }

  a {
    color: $color-header;
    font-size: em(18);
    font-weight: 600;
  }

  @include breakpoint($break-medium) {
    position: relative;
    ul {
      width: 100%;
      margin: 0;
    }

    li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 0px;
      padding: 0;
      text-transform: uppercase;

      + li {
        margin-left: $space;
      }
      
      &.more {
        display: none;
      }

      &:nth-child(1) {
        @include menuitem-color($category-color-1);
        @include submenu-color($category-color-1);
      }
      &:nth-child(2) {
        @include menuitem-color($category-color-2);
        @include submenu-color($category-color-2);
      }
      &:nth-child(3) {
        @include menuitem-color($category-color-3);
        @include submenu-color($category-color-3);
      }
      &:nth-child(4) {
        @include menuitem-color();
      }
    }

    a {
      display: block;
      float: left;
      padding: $space;
      height: 55px;
      line-height: 47px;
      @include transition(all .2s ease-out);

      i {
        display: inline-block;
        @include transition(all .2s ease-out);
      }
      span {
        display: inline-block;
        vertical-align: middle;
        margin-top: -14px;
        padding-left: 8px;
      }
    }

    .active a,
    a:hover,
    a:focus {
      height: 65px;
      margin-top: -10px;

      i {
        @include transform(rotate(-360deg));
      }
    }
  }
}

.sub-menu {
  display: none;
}
// sub menu
// &:hover ul {
//   display: none;
//   position: absolute;
//   z-index: 100;
//   top: 65px;
//   width: 310px;
//   li {
//     width: 100%;
//     display: block;
//     clear: both;
//   }
//   a {
//     background: transparent !important;
//     height: auto;
//     padding: 14px;
//     font-size: em(14,16);
//   }
// }
// &.active ul {
//   display: none;
//   position: relative;
//   z-index: 100;
//   top: 0;
//   width: 100%;
//   li {
//     display: block;
//   }
//   a {
//     background: transparent !important;
//     height: 65px;
//     padding: 14px;
//     font-size: em(14,16);
//   }
// }
