<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <!--[if IE]>
      <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
</head>
<body>
<header class="header">
  <div class="light-blue-block">
    <div class="l-container">
      <div class="unicef-home">
        <a href="">
          <span class="before"></span>
          <span>Til hovedsiden</span>
          <img alt="Unicef Home" src="/img/unicef-small.jpg">
          <span class="after"></span>
        </a>
      </div>

      <div class="main-logo">
        <a href="/">UNICEF KIDS</a>
      </div>

      <nav class="top-menu">
        <ul>
          <li class="{% if page.tab == 1 %}active{% endif %}">
            <span class="before"></span>
            <a href="/">
              <i class="fa fa-gavel fa-2x"></i>
              <span>Barns rettigheter<span>
            </a>
            <span class="after">
          </li>
          <li class="{% if page.tab == 2 %}active{% endif %}">
            <span class="before"></span>
            <a href="content.html">
              <i class="fa fa-globe fa-2x"></i>
              <span>Unicef og barn i verden</span>
            </a>
            <span class="after"></span>
          </li>
          <li class="{% if page.tab == 3 %}active{% endif %}">
            <span class="before"></span>
            <a href="/">
              <i class="fa fa-thumbs-o-up fa-2x"></i>
              <span>Du kan<span>
            </a>
            <span class="after"></span>
          </li>
          <li>
            <span class="before"></span>
            <a href="javascript:void(0)" onclick="toggleMenu();">
              <i class="fa fa-plus fa-2x"></i>
              <span>Mer</span>
            </a>
            <span class="after"></span>
          </li>
          <li class="more">
            <a href="javascript:void(0)" onclick="toggleMenu();">
              <i class="fa fa-bars fa-2x"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="dark-blue-block">
    <div class="l-container">
      <nav class="main-menu">
        <ul class="g-half">
          <li class="g-item">
            <a href="/">
              <img src="/img/story.jpg">
              <span>Barns rettigheter</span>
            </a>
            <ul class="sub-menu">
              <li><a href="#">Historie</a></li>
              <li><a href="#">Barnas rettigheter i Norge</a></li>
            </ul>
          </li>
          <li class="g-item">
            <a href="content.html">
              <img src="/img/story-2.jpg">
              <span>Unicef og barn i verden</span>
            </a>
            <ul class="sub-menu">
              <li><a href="#">Dette er UNICEF</a></li>
              <li><a href="#">Fatka om barn</a></li>
              <li><a href="#">Barnearbeid</a></li>
            </ul>
          </li>
          <li class="g-item">
            <a href="/">
              <img src="/img/story-3.jpg">
              <span>Du kan</span>
            </a>
          </li>
          <li class="g-item">
            <a href="#">
              <img src="/img/story.jpg">
              <span>FNs tusenårsmål</span>
            </a>
          </li>
          <li class="g-item">
            <a href="#">
              <img src="/img/story-2.jpg">
              <span>UNICEF-runden</span>
            </a>
          </li>
          <li class="g-item">
            <a href="#">
              <img src="/img/story-3.jpg">
              <span>Kryssord og andre nøtter</span>
            </a>
            <ul class="sub-menu">
              <li><a href="#">Kryssord</a></li>
              <li><a href="#">Puslespill</a></li>
              <li><a href="#">rebus</a></li>
              <li><a href="#">Skjulte ord</a></li>
              <li><a href="#">Ord-puzzle</a></li>
              <li><a href="#">Gjett Tusernårmål</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

  {{content}}

  <footer>
    <div class="l-container">
      This is the footer
    </div>
  </footer>

  {% include scripts.html %}
</body>
</html>
